@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Inide.Users.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new Inide.Inide.UsersGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>